# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL=""

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET="DATABASE_URL=postgresql://postgres:password@localhost:5432/."
NEXTAUTH_URL="http://localhost:3000"

# Next Auth GitHub Provider
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Next Auth Google Provider
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Next Auth Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# Resend
RESEND_API_KEY=""

# Google Wallet
GOOGLE_WALLET_ISSUER_ID=""
GOOGLE_APPLICATION_CREDENTIALS=""
WALLET_SERVICE_ACCOUNT_EMAIL=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
# Cloudflare R2
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_ENDPOINT="https://<accountid>.r2.cloudflarestorage.com"
R2_BUCKET_NAME="hw12-resumes"
R2_PUBLIC_BASE_URL="https://pub-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.r2.dev"
